*.egg-info
.env
**/__pycache__/*
wandb/*
*.log
venv/*
.venv/*
keyfile
**/.ipynb_checkpoints/
**/.DS_Store/*
.idea/*
.vscode/*
.ruff_cache/
build/*
dist/*
venv/*
.venv/*
htmlcov/*
.coverage
*.safetensors
*.pt
*.ttf
*.pkl
compressed_models/*